:root {
  --primary-navy-blue-color: #2e2f42;
  --primary-white-color: #ffffff;
  --primary-slate-color: #434455;
  --primary-cloud-color: #f4f4fd;
  --primary-iris-color: #4d5ae5;
  --hover-focus-ocean-color: #404bbf;
  --primary-font-style: normal;
  --primary-font-weight: 500;
  --secondary-font-weight: 400;
  --primary-font-size: 16px;
  --secondary-font-size: 20px;
  --primary-line-height: 24px;
  --primary-letter-spacing: 0.02em;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primary-white-color);
}

header {
  background: var(--primary-white-color);
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: var(--primary-font-style);
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-iris-color);
  text-decoration: none;
}

.logo-accent {
  color: var(--primary-navy-blue-color);
}

.logo-accent-footer {
  color: var(--primary-cloud-color);
}

ul {
  list-style-type: none;
}

.nav-link {
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-navy-blue-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-focus-ocean-color);
}

.contacts-link {
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-slate-color);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-focus-ocean-color);
}

.hero-image {
  background: var(--primary-navy-blue-color);
}

h1 {
  font-style: var(--primary-font-style);
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-white-color);
}

button {
  background: var(--primary-iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

button:hover {
  background: var(--hover-focus-ocean-color);
}

button:focus {
  background: var(--hover-focus-ocean-color);
}

.title-section {
  font-style: var(--primary-font-style);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
  color: var(--primary-navy-blue-color);
}

.title-condition {
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-navy-blue-color);
}

.text-conditon {
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-slate-color);
}

.name-surname {
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: var(--primary-line-height);
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-navy-blue-color);
}

.specialty {
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-slate-color);
}

footer {
  background: var(--primary-navy-blue-color);
}

.footer-text {
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-cloud-color);
}

.project-title {
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-navy-blue-color);
}

.project-specialty {
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-slate-color);
}
